{% extends  'main/forms/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  author update
{% endblock title %}

{% block form %}

<div class="container mt-3">
  <h1 class="h3 mb-3 font-weight-normal text-center">Author update</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button><br>
  </form>

  <a href="/author/{{ author.pk }}/delete">
    <button class="btn btn-lg btn-danger btn-block">Delete author</button>
  </a>
</div>

{% endblock%}