{% extends  'main/forms/base.html' %}

{% block title %}
  book add
{% endblock title %}

{% block form %}
<div class="container mt-3">
  <h4>Book add</h4>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Author</label>
      {{ form.author }}
    </div>
    <div class="mb-3">
      <button class="btn"><a href="{% url 'author_add' %}">Author add</a></button>
    </div>
    <div class="mb-3">
      <label class="form-label">Title</label>
      {{ form.title }}
    </div>
    <div class="mb-3">
      <label class="form-label">Book</label>
      {{ form.file }}
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>  
      {{ form.description }}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Book add</button>
  </form>
</div>
{% endblock %}
